th {
  padding: 25px;
  font-family: Poiret One, Geneva, sans-serif;
  font-size: 2vw;
  background-color: #fff;
  border-radius: 5px;
}// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
