* {
  margin: 0;
}
html, body {
  height: 100%;
  background-color: #F5E9DC;
}
a {
  color: #000;
}
a:visited {
  color: #666;
}

//Nav Bar
nav {
  height: 48px;
  background: linear-gradient(60deg, #44767D, #A2D4DE);
}
.nav>li {
  display: inline-block;
  float: right;
}
nav ul li:not(.log) {
  display: inline-block;
  padding: 15px;
  margin-left: 10px;
  font-family: Poiret One, Geneva, sans-serif;
  font-size: 1.7vw;
}
nav ul li a {
  color: #fff;
}
nav ul li a:visited {
  color: #000;
}
form.form-horizontal {
  display: inline;
  float: right;
}
.navbar-form {
  margin-top: -75px;
}
.navbar-text {
  border-radius: 4px;
  padding: 2px;
  font-family: Verdana, sans-serif;
  font-size: 1.2vw;
}
.navbar-btn {
  display: inline-block;
  float: right;
  margin-bottom: 12px;
  font-family: Verdana, sans-serif;
  font-size: 1.2vw;
}

//Main Content
h1 {
  padding: 10px;
  margin-top: -10px;
  background-color: #fff;
  font-family: Cutive Mono, Courier New, monospace;
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
  border: 4px solid #A37A8A;
}
h2 {
  font-family: Zeyada, cursive, serif;
  font-size: 4vw;
  text-align: center;
}
p:not(p.notice) {
  padding: 15px 15px 20px 15px;
  font-family: Poiret One, Geneva, sans-serif;
  font-size: 1.9vw;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0.4);
}
//LANDING PAGE
//Carousel
.carousel {
  width: 50%;
  padding: 20px;
}
.feat_product {
  display: inline-block;
  width: 50%;
}
.carousel-caption {
  font-size: 2vw;
  font-family: Poiret One, Geneva, sans-serif;
  color: black;
}
//Links
.links {
  display: inline-block;
  float: right;
  padding: 40px 80px;
  font-family: Zeyada, cursive, serif;
  font-size: 2.5vw;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #000;
}
.product_link {
  display: block;
  position: relative;
  padding: 15px;
}

//INDEX PAGE
.home-image {
  margin: auto;
  width: 80%;
  padding: 10px;
}

//CONTACT
.form-group {
  width: 80%;
  margin: auto;
}
.form-button {
  width: 80%;
  margin: auto;
}
.form_label{
  margin: 5px 0px;
  padding: 10px 15px;
  border-radius: 4px;
}
//NEW PRODUCT
.field, .actions {
  margin-left: 15px;
  color: #000;
}

//Thank You
.panel, .panel-default {
  width: 70%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
}
a.back-link {
  text-align: right;
  font-family: Verdana, sans-serif;
  font-size: 0.5em;
  font-weight: 200;
  text-decoration: underline;
  color: #000;
}

//Sign-up/Sign-in
.log {
  font-family: Poiret One, Geneva, sans-serif;
  font-size: 1.5em;
}
.form-group, .user-form {
  margin: auto;
  padding-bottom: 20px;
  width: 15%;
}
input {
  border-style: hidden;
}
//Sticky footer
footer {
  width: 100%;
  padding: 15px;
  background-color: #A2D4DE;
  color: #fff;
  font-size: 1.4vw;
  text-align: center;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -70px;
  padding-top: 50px;
  background-image: url("ameen-fahmy-140090-unsplash.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 70px;
}

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
