* {
  margin: 0;
}
html, body {
  height: 100%;
  background-color: #F5E9DC;
}
body {
  background-image: url("ameen-fahmy-140090-unsplash.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
//Carousel
.carousel {
  width: 50%;
  padding: 20px;
}
.feat_product {
  text-align: left;
  padding-left: 13%;
}
.carousel-caption {
  font-size: 2vw;
  font-family: Poiret One, Geneva, sans-serif;
  color: black;
}
//Nav Bar
nav {
  height: 48px;
  background: linear-gradient(60deg, #44767D, #A2D4DE);
}
nav ul li {
  display: inline-block;
  padding: 15px;
  margin-left: 10px;
  font-family: Poiret One, Geneva, sans-serif;
  font-size: 1.7vw;
}
nav ul li a {
  color: #fff;
}
nav ul li a:visited {
  color: #fff;
}

//Main Content
h1 {
  padding: 10px;
  margin-top: -10px;
  background-color: #fff;
  font-family: Cutive Mono, Courier New, monospace;
  font-size: 4vw;
  font-weight: 700;
  text-align: center;
  border: 4px solid #A37A8A;
}
h2 {
  font-family: Zeyada, cursive;
  font-size: 4vw;
  text-align: center;
}
p {
  padding: 15px 15px 20px 15px;
  font-family: Poiret One, Geneva, sans-serif;
  font-size: 1.9vw;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0.4);
}
.home-image {
  margin: auto;
  width: 80%;
  padding: 10px;
}
footer {
  width: 100%;
  padding: 15px;
  background-color: #A2D4DE;
  color: #fff;
  font-size: 1.4vw;
  text-align: center;
}
//Sticky footer
.page-wrap {
  min-height: 100%;
  margin-bottom: -70px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 70px;
}

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
